.home_banner {
    width: 100%;
    background-color: var(--color-heading-1);

    h1 {
        text-transform: uppercase;
        line-height: 1.2em;
    }

    .banner_service {
        padding-top: 120px;

        i {
            color: var(--color-primary);
            padding: 0 7px;
            font-size: 16px;
        }
    }

    .disc {
        font-weight: 500;
        font-size: 18px;
    }

}

.video_section {
    width: 100%;
    height: auto;

    &video {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.bg_black {
    background-color: var(--color-heading-1);
}

.primary-bg {
    background-color: var(--color-primary);
}

.c-light {
    color: var(--color-white);
}

.sub-title {
    font-size: 24px;
    font-weight: 500;
}

.scroll-container {
    overflow: hidden;

    .scroll-text {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: nowrap;
        white-space: nowrap;
        font-weight: bold;

        /* overflow: hidden; */
        &:nth-child(1) {
            /* background-color: black; */
            translate: none;
            rotate: none;
            scale: none;
            transform: translate(-100.7621%, 0%) translate3d(0px, 0px, 0px);
        }

        &:nth-child(3) {
            /* background-color: black; */
            translate: none;
            rotate: none;
            scale: none;
            transform: translate(-100.7621%, 0%) translate3d(0px, 0px, 0px);
        }

        span {
            font-size: 16vw;
            font-weight: 900;
            color: var(--color-heading-1);
            line-height: 0.8em;

            &.white {
                color: var(--color-white);
                font-size: 5vw;
            }
        }
    }
}

.grid-item {
    background-color: var(--color-primary);
    /* min-height: 100%; */
}

.portfolio_card_wrapper {

    .col-3 {
        min-height: 100%;
    }

    .portfolio_card {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: 25px;

        img {
            aspect-ratio: 16/9;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .content_body {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-primary);
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            display: grid;
            place-content: center;
            text-align: center;
            padding: 20px;
        }

        &:hover {
            .content_body {
                opacity: 1;
            }
        }
    }
}

[data-bg] {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.our-process-container {
    position: relative;
    background-color: #f7f7f7;
}

.our-process {
    width: 300px;
    height: 300px;
    position: relative;
    background: var(--color-white);
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 4rem;
    z-index: 1;
    transition: background-color 300ms ease-in;
}

.our-process .process-icon {
    width: 7rem;
    height: 7rem;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    background-color: var(--color-primary);
    padding: 1.8rem;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.our-process .process-icon img {
    filter: brightness(10);
    transition: filter 200ms ease-in;
}

.our-process .process-info {
    margin-top: 3rem;
    text-align: center;
}

.our-process .process-info h3 {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-heading-1);
    line-height: 1.2em;
    margin-bottom: 10px;
}

.our-process .process-info p {
    font-size: 16px;
    line-height: 1.3em;
}

.our-process .process-count {
    position: absolute;
    top: 10%;
}

.our-process .process-count h2 {
    font-size: 3.5rem;
    color: #ddd;
    font-weight: 900;
}

.our-process .circle-badge {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 5px dashed #ddd;
    z-index: -1;
}

.our-process:hover {
    background-color: var(--color-primary);
}

.our-process:hover .process-icon {
    background-color: var(--color-white);
}

.our-process:hover .process-icon img {
    filter: none;
}

.our-process:hover .process-info h3,
.our-process:hover .process-info p {
    color: var(--color-white);
}

.our-process:hover .process-count h2 {
    color: var(--color-white);
}

.our-process::after {
    position: absolute;
    content: '';
    top: 20%;
    right: -6rem;
    width: 7rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/working-process/arrow.svg);
}

.process-arrow {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-image: url(../images/working-process/process-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.our-process-container.samll .our-process {
    width: 25rem;
    height: 25rem;
}

.our-process-container .col-md-6:nth-child(odd) .our-process {
    margin-top: 7rem;
}

.our-process-container .col-md-6:nth-child(odd) .our-process::after {
    transform: rotateX(180deg);
    top: 55%;
}

.our-process-container .col-md-6:last-child .our-process::after {
    display: none;
}

.service_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .4s;
    }

    .service_body {
        width: 100%;
        position: absolute;
        padding: 20px;
        bottom: 0;
        left: 0;
        z-index: 5;
    }

    &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        z-index: 1;
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: all .4s;
        position: absolute;
        background: linear-gradient(180deg, rgba(1, 25, 255, 0), var(--color-primary));
    }

    &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        z-index: 1;
        opacity: 1;
        width: 100%;
        height: 100%;
        transition: all .4s;
        position: absolute;
        background: linear-gradient(180deg, rgba(13, 14, 29, 0), #0d0e1d);
    }

    &:hover {
        &::after {
            opacity: 1;
        }

        &::before {
            opacity: 1;
        }

        img {
            transform: scale(1.1);
        }
    }
}

.get-in-touch .wrapper .single a {
    line-height: 1.3em;
}


@media (max-width: 575px) {

    .row {
        padding-left: 15px;
        padding-right: 15px;
    }

    .container,
    .container-sm {
        padding-left: 15px;
        padding-right: 15px;
    }

    .about-section.pl--50 {
        padding-left: 0 !important;
    }

    .contact-map-area-fluid .contact-map {
        height: 300px;
    }
}

@media (max-width: 768px) {
    .banner_service {
        padding-top: 80px !important;
        margin-bottom: 25px;

        .main_title {
            text-align: center;
            font-size: 45px;
            font-weight: 700;
        }

        .my-5 {
            text-align: center;
        }

        .disc {
            text-align: center;
        }

    }
}